@import '../base/variables.scss';
.home {
  display: grid;
  grid-template-columns: 280px 1fr;
}

//<IconFa.FaUser className="margin-left" />
//IconFa.FaUser FaHouzz FaClipboardList

.home__menu {
  grid-column: 1;
}

.home__container {
  margin: 20px 10px;
  grid-column: 2;
}
.home__title {
  margin-bottom: 10px;
}

.home__list {
  padding: 0;
}

.home__list li {
  margin: 5px 0px;
}
